body{
  /* background-color: #65799b; */
  /* background-color: #153b44; */
  background-color: #0C2D3E; /*Blue*/
  color: white;
  font-family: 'Merriweather', serif;
}
.title{
  margin: 1.2rem;
}
p{
  font-size:1.2rem;
  line-height: 2;
}
.scrolldown{
  color: yellow;
  padding: 7px;
  margin-bottom:25px;
  border:3px solid white;
}
